<!-- Page Header -->
{% if page.background %}
<header id="header-wrapper" class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header id="header-wrapper" class="masthead">
{% endif %}

  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <!-- test for a narrow header -->
        {% if page.narrowheader == true %}
        <div class="page-heading narrow-heading">
        {% else %}
        <div class="page-heading">
        {% endif %}

          <h1>{{ page.title }}</h1>
          {% if page.description %}
          <span class="subheading">{{ page.description }}</span>
          {% endif %}

        </div>
      </div>
    </div>
  </div>

  {% if page.headerapp %}
  <div id="canvasWrapper" class="canvas-wrapper">
    <canvas id="header-canvas"></canvas>
  </div>
  <script src="{{ page.headerapp  | prepend: '/assets/libs/' }}"></script>
  {% endif %}

</header>