---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

/*  All fonts are set to Asap to match smartdown fonts. */

h1, h2, h3, h4, h5, h6, p, body {
  font-family: 'Asap', 'Open Sans', Arial, sans-serif !important;
}

/*************************************************************************
  PAGE HEADERS:
  - first we adjust the main header
  - we add a narrow header
  - and a no header option
**************************************************************************/

header.masthead  {
  background-color: transparent !important;
  .post-heading  {
    .subheading {
      font-weight: 600;
      font-size: 24px;
      @media only screen and (max-width: 768px) {
        font-weight: 200;
        font-size: 18px;
      }
    }
    img {
      height: 150px;
      @media only screen and (max-width: 768px) {
        height: 80px;
      }
    }
  }
}

.narrow-heading {
 	padding: 80px 0 60px 0 !important;
	@media only screen and (min-width: 768px) {
  		padding: 80px 0 60px 0 !important;
	}
 }

.noheader {
  margin-bottom: 60px !important;
}

// the navigation menu needs to stay dark when there's no header
.noheadernav {
  a {
      color: #444 !important;
    }
}

// if it's the home page we lighten the overlay
.home {
  .overlay {
    background-color: #BBBBBB !important;
    opacity: 0.3 !important;
  }
}

// this wrapper allows us to put an app in the background of header
.app-wrapper {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1 !important;
}



/*************************************************************************
  formatting for multi column layout. 

**************************************************************************/

.outer-multi-col {
 
}

.playable-2-col {
  padding-top: 10px; 
}

.playable-3-col {
  padding-top: 10px; 
}

.text-2-col {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.text-2-col ol {
  line-height: 25px;
}

.text-2-col ol li {
  list-style-position: outside;
  margin: 0 0 10px 30px;
}

.text-3-col {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

@media (min-width: 800px) {
  .outer-multi-col {
   
  }

  .playable-2-col {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }

  .playable-3-col {
    width: 32%;
    display: inline-block;
    vertical-align: top;
  }

  .text-2-col {
    width: 48%;
    display: inline-block;
    vertical-align: top;
  }

  .text-3-col {
    width: 32%;
    display: inline-block;
    vertical-align: top;
  }
}

/*************************************************************************
  highlight classes for mapping text formulas to graph elements

**************************************************************************/

.highlightOnWide {
  background-color: #55DDFF;
  padding: 16px !important;
  border-radius: 5px !important;
  border: 1px solid #66CCEE !important;
}

.highlightOffWide {
  background-color: #EEF9FF;
  padding: 16px !important;
  border-radius: 5px;
  border: 1px solid #DDE9EE !important;
}

.highlightOnNarrow {
  background-color: #55DDFF;
  padding: 2px 10px !important;
  border-radius: 5px;
  border: 1px solid #88CCEE !important;
}

.highlightOffNarrow {
  background-color: #EEF9FF !important;
  padding: 2px 10px !important;
  border-radius: 5px;
  border: 1px solid #DDE9EE !important;
}


/*************************************************************************
  formating for the lesson navigation

**************************************************************************/


.tabrow {
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    line-height: 24px;
    height: 26px;
    overflow: hidden;
    font-size: 12px;
    font-family: verdana;
    position: relative;
}
.tabrow li {
    border: 1px solid #AAA;
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}
.tabrow a {
    color: #555;
    text-decoration: none;
}
.tabrow li.selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
}
.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #DDD;
    z-index: 1;
}
.tabrow li:before,
.tabrow li:after {
    border: 1px solid #AAA;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}
.tabrow li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #D1D1D1;
}
.tabrow li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #D1D1D1;
}
.tabrow li.selected:before {
    box-shadow: 2px 2px 0 #FFF;
}
.tabrow li.selected:after {
    box-shadow: -2px 2px 0 #FFF;
}

/*************************************************************************
  formatting for the credits footer  

**************************************************************************/

.credits {
  width: 100%;
    background: #EEE;
    border: 2px solid #DDD;
    text-align: center;
    list-style: none;
    margin-top: 50px;
    padding: 50px 0 60px 0;
}
.credits p {
  margin: 0px;
}
.credits li {
    display: inline-block;
    position: relative;
    z-index: 0;
    padding: 0 25px 0 25px;
}

/*************************************************************************
  jsxgraph css 

**************************************************************************/

// instruction boxes
.jsxgraph-instructions {
  border: 2px solid #CCC;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 5px #999;
}

.jsxgraph-alert {
  border: 1px solid #FF8888;
  background-color: #FFEEEE;
  color: #FF4444 !important;
  padding: 5px;
  border-radius: 5px;
}


/*************************************************************************
  Calculus Theme

**************************************************************************/

.smartdown-container .disclosable-trigger-button {
}

.smartdown-container .disclosable-trigger-tooltip-wrapper {

}

.smartdown-container .disclosable-trigger-tooltip-wrapper .disclosable-trigger-tooltip {
  color: #EEAA33 !important;
  xcolor: #639ad7;
}

.smartdown-container .disclosable-trigger-tooltip-wrapper .disclosable-trigger-tooltip:hover {

}


.smartdown-container .decoration-outlinebox {
  color: #333 !important;
  background: #FFF !important;
  border: 1px solid #DDD !important;

  padding-top: 30px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important;

  border-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important; 
}


.smartdown-container .decoration-colorbox {
  background:  #66AAFF !important;
  border: none !important;

  padding-top: 30px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important;

  border-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;

}

.smartdown-container .decoration-partialborder {
  color: #333 !important;
  background: #FFD !important;
  border: 2px solid #EEAA55 !important;

  padding-top: 30px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.smartdown-container .decoration-aliceblue {
  color: #333 !important;
  background: #EEF7FF !important;
  border: 2px solid #55AAEE !important;

  padding-top: 30px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important;

  border-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}





.smartdown-container .disclosable-wrapper {
  border-radius: 10px !important;

  &.disclosable-open {

  }

  &.disclosable-tooltip {
    div.resp-iframe-container {
    }
  }

  &.disclosable-outline {
  }

  &.disclosable-outline-draggable {
  }

  &.disclosable-shadow {

  }

  &.disclosable-transparent {
  }

  &.disclosable-lightbox {
    outline: none !important;
    box-shadow: 
      0px 0 0 1000px rgba(0, 0, 0, 0.3) !important;
  }


  .disclosable-content {
    border: none !important;
    background: #FFF !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 10px ! important;
    border-top-right-radius: 10px ! important;


    &.disclosable-outline-content {

    }

    &.disclosable-outline-draggable-content {
      border-top-left-radius: 0px ! important;
      border-top-right-radius: 0px ! important;

      > div {
        border-top-left-radius: 0px ! important;
        border-top-right-radius: 0px ! important;
        padding-top: 10px !important;
      }
    }

    &.disclosable-shadow-content {
      box-shadow:
      0 3px 2px rgba(255, 0, 0, 0.1),
      0 7px 5px rgba(0, 0, 0, 0.1),
      0 12px 10px rgba(0, 0, 0, 0.1),
      0 22px 18px rgba(0, 0, 0, 0.1),
      0 42px 33px rgba(0, 0, 0, 0.1) !important;

    }

    &.disclosable-transparent-content {

    }

    &.disclosable-lightbox-content {

    }

    &.disclosable-scrollable-content {
      height: 80% !important;
    }
  }

  &.disclosable-attach {
  }

  &.disclosable-position {
    max-width: 80%;
    padding: 20px;

    .disclosable-header {
      cursor: move;
      border-radius: 0px !important; 
      border: none !important;
      background: #EEE !important;
      border-top: 1px solid #DDD !important;
      border-left: 1px solid #DDD !important;
      border-right: 1px solid #DDD !important;
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;


      &.disclosable-header-position {
      }
      button.disclosable-button-close {
        background: #EEE !important;
        border-radius: 2px !important;
        border: none !important;
        height: 18px !important;
        margin: 4px 0px 4px 8px !important;
        padding: 0 4px 3px 4px !important;
      }
      button.disclosable-button-close:hover {
        background: #CCC !important;
      }
    }

    &.disclosable-scrollable {
      height: 80% !important;
    }
  }
}

@media (min-width: 800px) {
  .smartdown-container .disclosable-attach {
    
  }
}




