<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link
      type="text/css"
      rel="stylesheet"
      href="{{site.baseurl}}/assets/css/main.css"
      media="screen">

    <title>
    {{ site.title }}
    </title>

    {% if page.smartdown == true %}
    {% include smartdown_header.html %}
    {% endif %}
  </head>

  <body>
    {% include sidebar.html %}

{% if page.smartdown == true %}
    <div class="container-fluid smartdown-outer-container smartdown-theme-blog">
      <div class="col-xs-12 smartdown-container" id="blog-content">
      </div>
    </div>

    {% include pager.html %}

{% elsif page.type == 'home' %}
    {{ content }}
{% else %}
    <div class="container">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content | markdownify }}
        </section>
      </div>

      {% include pager.html %}
    </div>
{% endif %}


  {% include footer.html %}
<!-- 
    <script src="{{site.baseurl}}/assets/js/jquery/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap/bootstrap.min.js"></script>
 -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script>
      // Closes the sidebar menu
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
      // Opens the sidebar menu
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
      // Scrolls to the selected menu item on the page
      $(function() {
          $('a[href*=\\#]:not([href=\\#],[data-toggle],[data-target],[data-slide])').click(function() {
              if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                  var target = $(this.hash);
                  target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                  if (target.length) {
                      $('html,body').animate({
                          scrollTop: target.offset().top
                      }, 1000);
                      return false;
                  }
              }
          });
      });
      //#to-top button appears after scrolling
      // Opens the sidebar menu
      $("#to-top").click(function(e) {
          e.preventDefault();
          console.log('to-top');
          $('html,body').animate({
              scrollTop: 0
          }, 1000);
      });
      var fixed = false;
      $(document).scroll(function() {
          if ($(this).scrollTop() > 250) {
              if (!fixed) {
                  fixed = true;
                  // $('#to-top').css({position:'fixed', display:'block'});
                  $('#to-top').show("slow", function() {
                      $('#to-top').css({
                          position: 'fixed',
                          display: 'block'
                      });
                  });
              }
          } else {
              if (fixed) {
                  fixed = false;
                  $('#to-top').hide("slow", function() {
                      $('#to-top').css({
                          display: 'none'
                      });
                  });
              }
          }
      });
    </script>

{% if page.smartdown == true %}
{% include smartdown_footer.html %}
{% endif %}

{% if site.ga == true %}
{% include google_analytics.html %}
{% endif %}

  </body>
</html>
