  <footer>
    <div class="container">
      <hr class="small">
      <div id="a-contact" class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-link fa-fw"></i>
              <a
                href="https://smartdown.site"
                target="_blank">
                https://smartdown.site
              </a>
            </li>
            <li>
              <i class="fa fa-twitter fa-fw"></i>
              <a
                href="https://twitter.com/TheDoctorBud"
                target="_blank">
                &commat;TheDoctorBud
              </a>
            </li>
            <li>
              <i class="fa fa-envelope-o fa-fw"></i>
              <a
                href="mailto:email_placeholder@example.com">
                email_placeholder@example.com
              </a>
            </li>
          </ul>
          <p class="text-muted">
            BlogKit &copy; Daniel B Keith 2017
          </p>
        </div>
      </div>
    </div>
  </footer>
