<section id="a-about" class="services bg-secondary">
  <div class="container">
    <div class="row row-inset">
      <div id="a-author" class="col-lg-10 col-lg-offset-1 text-center">
        <h3>Pages of Interest</h3>
        <hr class="small">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="service-item">
              <span class="fa-stack fa-4x bg-secondary">
                <a href="#a-author" class="btn-fa">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-user-o fa-stack-1x text-primary"></i>
                </a>
              </span>
              <h4>
                <strong>Site and Author</strong>
              </h4>
              <p>
                <a href="pages/About">About</a>
              </p>
            </div>
          </div>
          <div id="a-content" class="col-xs-12 col-sm-4">
            <div class="service-item">
              <span class="fa-stack fa-4x bg-secondary">
                <a href="#a-content" class="btn-fa">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-book fa-stack-1x text-primary"></i>
                </a>
              </span>
              <h4>
                <strong>Smartdown</strong>
              </h4>
              <p>
                <a href="https://smartdown.site" target="_blank">
                  Smartdown Viewer Site
                </a>
              </p>
              <p>
                <a href="https://smartdown.site/lib/" target="_blank">
                  Smartdown Example Site
                </a>
              </p>
              <p>
                <a href="https://www.npmjs.com/package/smartdown" target="_blank">
                  Smartdown NPM
                </a>
              </p>
            </div>
          </div>
          <div id="a-technology" class="col-xs-12 col-sm-4">
            <div class="service-item">
              <span class="fa-stack fa-4x bg-secondary">
                <a href="#a-technology" class="btn-fa">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                </a>
              </span>
              <h4>
                <strong>Toys</strong>
              </h4>
              <p>
                <a href="pages/DungeonGameStarter">Dungeon Game Starter</a>
              </p>
              <p>
                <a href="pages/Simple">Simple</a>
              </p>
              <p>
                <a href="/Root/">Root</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row hidden" id="overview-detailed">
      <div class="col-xs-12">
        <div id="overview-detailed-markdown" class="markdown">
        </div>
      </div>
    </div>
  </div>
</section>
