<base href="{{ site.baseurl }}/">

<link rel=stylesheet href="https://unpkg.com/smartdown/dist/lib/smartdown.css">
<link rel=stylesheet href="https://unpkg.com/smartdown/dist/lib/fonts.css">
<script type="text/javascript" src="https://unpkg.com/smartdown/dist/lib/smartdown.js">
</script>
<script type="text/javascript" src="https://unpkg.com/smartdown/dist/lib/calc_handlers.js"></script>
<script type="text/x-smartdown" id="Home">{{ content }}</script>

<style>
  body {
    background: #fbfbfe;
  }
</style>

