<script>
  /* global smartdown */
  var baseURL = '{{ site.baseurl }}';
  var icons = {
    'hypercube': `/assets/images/Hypercube.svg`,
    'StalactiteStalagmite': `/assets/images/StalactiteStalagmite.svg`
  };

  var multiparts = null;
  var current = null;


  function cardLoaded(url, cardKeySubhash, sourceText) {
    /* eslint no-invalid-this: 0 */
    sourceText = sourceText.trim();
    multiparts = smartdown.partitionMultipart(sourceText);

    if (url.endsWith('.md')) {
      const newPath = url.replace(/\.md$/, '/');
      current = newPath;
      history.pushState(null, null, newPath);
    }

    var output = document.getElementById('blog-content');
    smartdown.setHome(multiparts._default_, output, function() {
      document.body.scrollTop = 0; // For Chrome, Safari and Opera
      document.documentElement.scrollTop = 0; // For IE and Firefox

      if (cardKeySubhash) {
        const target = document.getElementById(cardKeySubhash);
        if (target) {
          target.scrollIntoView();
        }
      }
    });
  }

  function loadURL(url) {
    var oReq = new XMLHttpRequest();
    let cardKeySubhash = null;
    const hashPos = url.indexOf('#');
    if (hashPos >= 0) {
      cardKeySubhash = url.slice(hashPos + 1);
    }

    oReq.addEventListener('load', function() {
      cardLoaded(url, cardKeySubhash, this.responseText);
    });
    oReq.open('GET', url);
    oReq.send();
  }

  function loadInline() {
    smartdown.loadCardsFromDocumentScripts();
    var s = smartdown.smartdownScripts[0];

    cardLoaded(window.location.href, window.location.hash.slice(1), s.text);
  }

  function cardLoader(cardKey) {
    // console.log('cardLoader', cardKey);
    var part = multiparts[cardKey];
    if (part) {
      var output = document.getElementById('blog-content');
      smartdown.setHome(part, output, function() {
        // smartdown.startAutoplay(renderElement);
      });
    }
    else {
      var cardURL = cardKey;
      if (cardKey.indexOf('http') === 0) {
        cardURL = cardKey;
      }
      else {
        const expanded = smartdown.expandHrefWithLinkRules(cardURL);
        // console.log('cardloader', cardURL, expanded);
        cardURL = expanded;
      }
      // else if (cardKey.indexOf('/posts') === 0) {
      //   cardURL = `${baseURL}${cardKey}`;
      //   console.log('cardLoader', cardKey, cardURL);
      // }
      loadURL(cardURL);
    }
  }

  var calcHandlers = smartdown.defaultCalcHandlers;
  const linkRules = [
    {
      prefix: '/posts/',
      replace: baseURL + '/posts/',
    },
    {
      prefix: '/pages/',
      replace: baseURL + '/pages/',
    },
    {
      prefix: '/assets/',
      replace: baseURL + '/assets/',
    },
  ];



  window.addEventListener(
    'popstate',
    function(event) {
      const url = document.location.pathname;
      if (url.endsWith('/')) {
        const newPath = url.replace(/\/$/, '.md');
        // console.log('popstatex: ', url, newPath, current, window.location.hash);
        if (current && url !== current) {
          loadURL(newPath);
        }
      }
    },
    false);
  // window.addEventListener(
  //   'hashchange',
  //   function(event) {
  //     console.log(
  //       'hashchange document.location.pathname: ' + document.location.pathname,
  //       JSON.stringify(event.state));
  //   },
  //   false);

  smartdown.initialize(icons, `https://unpkg.com/smartdown/dist/`, loadInline, cardLoader, calcHandlers, linkRules);
</script>
