---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";



header {
	&.masthead {
		margin-bottom: 0;

		&.masthead-abk {
			border-bottom: 10px dotted lightgray;
		}

		.page-heading {
			padding: 100px 0;
		}
	}
}


#smartdown-outer-container.smartdown-outer-container {
	padding: 0 25px;
}


