---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";


h1, h2, h3, h4, h5, h6, p, body {
  font-family: 'Asap', 'Open Sans', Arial, sans-serif !important;
}

 .narrow-heading {
 	padding: 100px 0  !important;
	@media only screen and (min-width: 768px) {
  		padding: 100px 0 !important;
	}
 }

.noheader {
  margin-bottom: 100px !important;
}

.noheadernav {
  a {
      color: #444 !important;
    }
}

.home {
  .overlay {
    opacity: 0.1 !important;
  }
}

header.masthead {
	background-color: transparent !important;
}

.canvas-wrapper {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1
}


.smartdown-container .disclosable-shadow {
  max-width: 80%;
}

.home {
  .overlay {
    opacity: 0.2 !important;
  }
}


.two-col-div {
 
}

.playable-2-col {
  padding-top: 10px; 
}

.text-2-col {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}


@media (min-width: 800px) {
  .div-2-col {
   
  }

  .playable-2-col {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }

  .text-2-col {
    width: 48%;
    display: inline-block;
    vertical-align: top;
  }
}


.highlightOnWide {
  background-color: #55DDFF;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #66CCEE;
}

.highlightOffWide {
  background-color: #EEF9FF;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #DDE9EE;
}

.highlightOnNarrow {
  background-color: #55DDFF;
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px solid #88CCEE;
}

.highlightOffNarrow {
  background-color: #EEF9FF;
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px solid #DDE9EE;
}
