---
layout: default
---
<!-- Page Header -->
{% if page.header == 'none' %}
<header id="header-wrapper" class="masthead noheader">
</header>  
{% else %}

{% if page.background %}
<header id="header-wrapper" class="masthead home" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header id="header-wrapper" class="masthead home">
{% endif %}

  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <!-- test for a narrow header -->
        {% if page.header == 'narrow' %}
        <div class="post-heading narrow-heading">
        {% else %}
        <div class="post-heading">
        {% endif %}

          <center>
            <img src="{{"/assets/images/wildthinksLogo.svg" | relative_url }}" height="150">
            <span class="subheading">{{ page.subtitle }}</span>
          </center>
        </div>
      </div>
    </div>
  </div>

  {% if page.headerapp %}
  <div id="header-app" class="app-wrapper">
  </div>
  <script src="{{ page.headerapp  | prepend: '/assets/libs/' }}"></script>
  {% endif %}


</header>
{% endif %}

{% if page.smartdown == true %}
  <div class="container-fluid smartdown-outer-container smartdown-theme">
    <div class="row">
      <div class="col-xs-12 smartdown-container" id="blog-content">
      <!-- <div class="col-lg-8 col-md-10 mx-auto smartdown-container" id="blog-content"> -->
      </div>
    </div>
  </div>
{% else %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content | markdownify }}

      </div>
    </div>
  </div>
{% endif %}
